.img {
    margin-bottom: 201px;
    margin-top: 176px;
}

.form-subscribe {
    display: flex;
    margin-top: 24px;
}

.input {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 395px;
    height: 42px;
    margin-right: 32px;
    background-color: transparent;
}

.input:hover,
.input:focus {
    border-color: #ffe450;
}

.input::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #505050;
}

.input:not(:placeholder-shown):invalid {
    border-color: red;
  }

  .input:not(:placeholder-shown):valid {
    border-color: green;
  }

  .invalid {
    font-size: 14px;
    padding-left: 20px;
    margin-top: 4px;
    display: none;
  }

  .invalid {
    color: red;
  }

  .input:not(:placeholder-shown):invalid ~ .invalid {
    display: block;
  }

.section-subscribe {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 42px;
line-height: 1.2;
color: #2c2c2c;
margin-bottom: 20px;
}

.section-p {
 font-family:"Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2c2c2c;
margin-bottom: 24px;
}

.button-subscribe:hover{
    background: #ffe450;
}

.button-subscribe:focus {
    background: #ffe450;
}

.button-subscribe {
 border: none;
border-radius: 30px;
padding: 10px 20px;
width: 103px;
height: 42px;
background-color: #bbf330;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 13px;
line-height: 1.5;
color: #2c2c2c;
}

.section-all{
    display: flex;
    margin-left: 15px;
}

.section-subscribe-p {
    margin-left: 18px;
    margin-top: 222px;
    margin-bottom: 237px;
}